### Program on data wrangling: Combining and merging datasets, Reshaping and Pivoting

In [1]:
import pandas as pd

In [3]:
students_1 = pd.DataFrame({
    'Student_ID' : [101, 102, 103],
    'Name' : ['Akriti', 'Rakshitha', 'Shreshta'],
    'Marks' : [10, 20, 30]
})
print(students_1)

   Student_ID       Name  Marks
0         101     Akriti     10
1         102  Rakshitha     20
2         103   Shreshta     30

In [7]:
students_2 = pd.DataFrame({
    'Student_ID' : [104, 105],
    'Name' : ['Shraavya', 'Thrisha'],
    'Marks' : [40, 50]
})
print(students_2)

   Student_ID      Name  Marks
0         104  Shraavya     40
1         105   Thrisha     50

In [14]:
# Combining/Concatenating
combined_students = pd.concat([students_1, students_2])
print(combined_students)

   Student_ID       Name  Marks
0         101     Akriti     10
1         102  Rakshitha     20
2         103   Shreshta     30
0         104   Shraavya     40
1         105    Thrisha     50

In [15]:
# Merging
details = pd.DataFrame({
    'Student_ID' : [101, 102, 103, 104, 105],
    'Department' : ['CSBS', 'AIML', 'CSE', 'CSD', 'ISE']
})

merged_data = pd.merge(combined_students, details, on = 'Student_ID')
print(merged_data)

   Student_ID       Name  Marks Department
0         101     Akriti     10       CSBS
1         102  Rakshitha     20       AIML
2         103   Shreshta     30        CSE
3         104   Shraavya     40        CSD
4         105    Thrisha     50        ISE

In [17]:
# Reshaping using MELT
melted = pd.melt(merged_data, id_vars = ['Student_ID'], value_vars = ['Name', 'Marks', 'Department'])
print(melted)

    Student_ID    variable      value
0          101        Name     Akriti
1          102        Name  Rakshitha
2          103        Name   Shreshta
3          104        Name   Shraavya
4          105        Name    Thrisha
5          101       Marks         10
6          102       Marks         20
7          103       Marks         30
8          104       Marks         40
9          105       Marks         50
10         101  Department       CSBS
11         102  Department       AIML
12         103  Department        CSE
13         104  Department        CSD
14         105  Department        ISE

In [19]:
# Pivoting
pivoted_data = melted.pivot(index = 'Student_ID', columns = 'variable', values = 'value')
print(pivoted_data)

variable   Department Marks       Name
Student_ID
101              CSBS    10     Akriti
102              AIML    20  Rakshitha
103               CSE    30   Shreshta
104               CSD    40   Shraavya
105               ISE    50    Thrisha